<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- This is just a fragment, no head needed -->
</head>
<body>
<!-- Footer Fragment -->
<footer class="bg-light py-4 mt-5" th:fragment="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h5>ShopEase</h5>
                <p>Your one-stop shop for all your needs.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/about}" class="text-decoration-none">About Us</a></li>
                    <li><a th:href="@{/contact}" class="text-decoration-none">Contact</a></li>
                    <li><a th:href="@{/privacy}" class="text-decoration-none">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Connect With Us</h5>
                <a href="#" class="me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p class="mb-0">&copy; 2025 ShopEase. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>